<!-- Accesos -->
<div class="homeContent" layout="column" layout-fill layout-align="start center">
  <md-toolbar md-scroll-shrink>
    <div>
    <md-button class="md-fab md-mini md-warn" ng-click="$ctrl.exit()">
      <md-icon class="material-icons" md-colors="{color: 'primary-50'}">exit_to_app</md-icon>
    </md-button>
  </div>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="space-around center">
        <img ng-src="{{ $ctrl.icon }}" class="icon"/>
        <span class="title"><b>TARJETA</b></span>
      </div>
      <div layout="row" layout-align="start">
        <span class="subtitle"><sup><em>¡Gestiona tus compras!</em></sup></span>
      </div>
      <div layout="row" layout-align="start">
        <span class="subtitle"><sup>Tienda Zara</sup></span>
      </div>
    </div>
  </md-toolbar>
  <div layout="row" layout-align="center center">
    <md-button class="md-raised md-accent md-hue-2" ng-click="$ctrl.registrar(0)">Registro de compras</md-button>
    <md-button class="md-raised md-accent md-shade-3" ng-click="$ctrl.registrar(1)">Historial de compras</md-button>      
  </div>
  <div layout="column" class="box formTarjeta" ng-show="$ctrl.isAction && $ctrl.isRegistro" layout-align="center">
      <h2 class="registroTitle">Registro de compras</h2>
      <!-- Formulario tarjetas -->
    <form ng-submit="$ctrl.registrarCompra()">
      <!-- Input nombreTienda -->
      <md-input-container md-no-float class="md-block">
        <md-icon class="material-icons md-light">credit_card</md-icon>
        <input style="color: white" ng-model="$ctrl.numTarjeta" type="text" placeholder="Número de tarjeta de socio" id="phGrey">
      </md-input-container>
      <!-- Input importe -->
      <md-input-container md-no-float class="md-block">
        <md-icon class="material-icons md-light">euro_symbol</md-icon>        
        <input style="color: white" ng-model="$ctrl.importe" type="text" placeholder="Importe de compra" id="phGrey">
      </md-input-container>
      <!-- Boton submit del formulario -->
      <md-button type="submit" class="md-raised md-warn">Registrar</md-button>
    </form>
  </div>
    
  <div ng-show="$ctrl.isAction && $ctrl.isHistorial" layout="column">
    <md-table-container>
      <table md-table md-row-select multiple ng-model="$ctrl.selected">
        <thead md-head md-order="fecha" md-on-reorder="$ctrl.logOrder">
          <tr md-row>
            <th md-column md-numeric md-order-by="numTarjeta"><span>Número de tarjeta</span></th>
            <th md-column md-numeric md-desc md-order-by="fecha"><span>Fecha (Mes-día-año @ horas:min::seg)</span></th>                                    
            <th md-column md-numeric md-order-by="importe"><span>Importe (€)</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="compra" md-select-id="_id" md-auto-select
          ng-repeat="compra in $ctrl.compras | orderBy: fecha | limitTo: $ctrl.query.limit: ($ctrl.query.page - 1) * $ctrl.query.limit">
            <td md-cell>{{compra.numTarjeta}}</td>
            <td md-cell>{{compra.fecha | date:'MMM-dd-yyyy @ HH:mm::ss'}}</td>                        
            <td md-cell>{{compra.importe}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.query.page" md-total="{{$ctrl.compras.length}}" md-page-select></md-table-pagination>
  </div>

</div>





