<!-- Tarjetas -->
<!-- Contenedor pagina -->
<div layout-fill layout="row" layout-align="center center">
  <!-- Contenedor angular -->
  <md-content class="box" class="md-no-momentum" layout="column">
    <!-- Formulario tarjetas -->
    <form ng-submit="$ctrl.registrarTarjeta()">
      <!-- Input nombre -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.nombre" type="text" placeholder="nombre">
      </md-input-container>
      <!-- Input primerApellido -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.primerApellido" type="text" placeholder="primer apellido">
      </md-input-container>
      <!-- Input segundoApellido -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.segundoApellido" type="text" placeholder="segundo apellido">
      </md-input-container>
      <!-- Input direccion -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.direccion" type="text" placeholder="direccion">
      </md-input-container>
      <!-- Input telefono -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.telefono" type="text" placeholder="telefono">
      </md-input-container>
      <!-- Input email -->
      <md-input-container md-no-float class="md-block">
        <input ng-model="$ctrl.email" type="email" placeholder="email">
      </md-input-container>
      <!-- Boton submit del formulario -->
      <md-button type="submit" class="md-raised">Registrar</md-button>
    </form>
  </md-content>
</div>