<!-- Accesos -->
<div style="overflow: hidden" layout="column" layout-fill layout-align="start center">

  <!-- Top toolbar -->
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <!-- Top toolbar: icono y nombre de empresa -->      
      <div layout="row" layout-align="space-around center">
        <img ng-src="{{ $ctrl.icon }}" class="icon"/>
        <span class="title"><b>TARJETA</b></span>
      </div>
      <!-- Top toolbar: mensaje informativo de pagina -->
      <div layout="row" layout-align="start" style="margin-top: 10px">
        <span class="subtitle"><sup><em>¿Ya estás registrado?</em></sup></span>
      </div>
      <!-- Top toolbar: formulario de acceso -->
      <div flex=70 style="margin-top: -14px">
      <form name="loginForm" ng-submit="loginForm.$valid && $ctrl.loginUser()" layout="row" layout-align="center center">
        <div>
        <md-input-container required md-no-float>
          <md-icon class="material-icons md-light">person</md-icon>
          <input style="color: white" required type="text" placeholder="Usuario" ng-model="$ctrl.usuario" name="usuario" id="phGreyF">
          <div ng-messages="loginForm.usuario.$error">
            <div ng-message="required">Requiere usuario</div>
          </div>
        </md-input-container>
        </div>
        <div>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">lock</md-icon>
          <input style="color: white" required ng-maxlength="30" type="password" placeholder="Contraseña" ng-model="$ctrl.password"
          name="password" id="phGreyF">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Requiere contraseña</div>
          </div>
        </md-input-container>
        </div>
      <!-- Top toolbar: boton de acceso -->
      <md-button type="submit" class="md-raised md-warn">entrar</md-button>
      </form>
      </div>
    </div>
  </md-toolbar>

  <!-- Seccion de botones de registros -->
  <div layout="row" layout-align="center center">
    <md-button class="md-raised md-accent md-hue-2" ng-click="$ctrl.isSocios = !$ctrl.isSocios;
    $ctrl.isTiendas = false">Registro de socios</md-button>
    <md-button class="md-raised md-accent md-shade-3" ng-click="$ctrl.isTiendas = !$ctrl.isTiendas;
    $ctrl.isSocios = false">Registro de tiendas</md-button>      
  </div>

  <!-- Seccion de registro de socios -->
  <div layout="column" class="box animate-hide regSocios" ng-hide="!$ctrl.isSocios" layout-align="center">
    <!-- Registro de socios: titulo informativo -->
    <h2 class="registroTitle">Registro de Socios</h2>
    <!-- Registro de socios: formulario -->
    <form name="socioForm" ng-submit="socioForm.$valid && $ctrl.postTarjeta(); socioForm.$setPristine();
    socioForm.$setUntouched();">
      <!-- Registro de socios: inputs de formulario -->
      <div layout="row">        
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">person</md-icon>        
          <input required style="color: white" ng-model="$ctrl.nombre" name="nombre" type="text" placeholder="Nombre" id="phGrey">
          <div ng-messages="socioForm.nombre.$error">
            <div ng-message="required">Requiere nombre</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input required style="color: white" ng-model="$ctrl.primerApellido" name="primerApellido" type="text"
          placeholder="Primer apellido" id="phGrey">
          <div ng-messages="socioForm.primerApellido.$error">
            <div ng-message="required">Requiere primer apellido</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input required style="color: white" ng-model="$ctrl.segundoApellido" name="segundoApellido" type="text"
          placeholder="Segundo apellido" id="phGrey">
          <div ng-messages="socioForm.segundoApellido.$error">
            <div ng-message="required">Requiere segundo apellido</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">home</md-icon>
          <input required style="color: white" ng-model="$ctrl.direccion" name="direccion" type="text" placeholder="Dirección" id="phGrey">
          <div ng-messages="socioForm.direccion.$error">
            <div ng-message="required">Requiere dirección</div>
          </div>
        </md-input-container>                
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">phone</md-icon>        
          <input required style="color: white" ng-model="$ctrl.telefono" name="telefono" type="text" placeholder="Teléfono" id="phGrey">
          <div ng-messages="socioForm.telefono.$error">
            <div ng-message="required">Requiere número de teléfono</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">email</md-icon>        
          <input required style="color: white" ng-model="$ctrl.email" name="email" type="email" placeholder="Email" id="phGrey">
          <div ng-messages="socioForm.email.$error">
            <div ng-message="required">Requiere email</div>
            <div ng-message="email">No es un email</div>            
          </div>
        </md-input-container>
      </div>
      <div layout="row">      
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">lock</md-icon>
          <input required ng-maxlength="30" ng-minlength="6" type="password" placeholder="Contraseña"
          ng-model="$ctrl.passwordS" name="passwordS" id="phGrey" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/">
          <div ng-messages="socioForm.passwordS.$error">
            <div ng-message="required">Requiere contraseña</div>
            <div ng-message="pattern">Requiere contraseña alfanumérica</div>
            <div ng-message="maxlength">Máxima longitud de 30 caracteres</div>
            <div ng-message="minlength">Mínima longitud de 6 caracteres</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">security</md-icon>
          <input match-password="passwordS" required type="password" placeholder="Confirme contraseña"
          ng-model="$ctrl.confirmPasswordS" name="confirmPasswordS" id="phGrey">
          <div ng-messages="socioForm.confirmPasswordS.$error">
            <div ng-message="required">Requiere confirmar la contraseña</div>
            <div ng-message="passwordMatch">La contraseña no es la misma</div>
          </div>
        </md-input-container>
      </div>
      <!-- Registro de socios: boton que registra nuevo socio -->
      <md-button type="submit" id="regTarjeta" class="md-raised md-warn">Registrar</md-button>
    </form>
  </div>

  <!-- Seccion de registro de tiendas -->  
  <div layout="column" class="box regTiendas animate-hide" ng-hide="!$ctrl.isTiendas" layout-align="center">
    <!-- Registro de tiendas: titulo informativo -->
    <h2 class="registroTitle">Registro de Tiendas</h2>
    <!-- Registro de tiendas: formulario -->
    <form name="tiendaForm" ng-submit="tiendaForm.$valid && $ctrl.postTienda(); tiendaForm.$setPristine();
    tiendaForm.$setUntouched();">
      <!-- Registro de tiendas: inputs de formulario -->
      <div layout="row">
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">shop</md-icon>
          <input required style="color: white" ng-model="$ctrl.nombreTienda" name="nombreTienda" type="text"
          placeholder="Nombre de la tienda" id="phGrey">
          <div ng-messages="tiendaForm.nombreTienda.$error">
            <div ng-message="required">Requiere nombre de la tienda</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">home</md-icon>
          <input required style="color: white" ng-model="$ctrl.direccionTienda" name="direccionTienda" type="text"
          placeholder="Dirección" id="phGrey">
          <div ng-messages="tiendaForm.direccionTienda.$error">
            <div ng-message="required">Requiere dirección de la tienda</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">phone</md-icon>
          <input required style="color: white" ng-model="$ctrl.telefonoTienda" name="telefonoTienda" type="text"
          placeholder="Teléfono" id="phGrey">
          <div ng-messages="tiendaForm.telefonoTienda.$error">
            <div ng-message="required">Requiere número de teléfono de la tienda</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">            
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">lock</md-icon>
          <input required ng-maxlength="30" ng-minlength="6" type="password" placeholder="Password"
          ng-model="$ctrl.passwordT" name="passwordT" id="phGrey" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/">
          <div ng-messages="tiendaForm.passwordT.$error">
            <div ng-message="required">Requiere contraseña</div>
            <div ng-message="pattern">Requiere contraseña alfanumérica</div>
            <div ng-message="maxlength">Máxima longitud de 30 caracteres</div>
            <div ng-message="minlength">Mínima longitud de 6 caracteres</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <md-icon class="material-icons md-light">security</md-icon>
          <input match-password="passwordT" required type="password" placeholder="Confirme contraseña"
          ng-model="$ctrl.confirmPasswordT" name="confirmPasswordT" id="phGrey">
          <div ng-messages="socioForm.confirmPasswordT.$error">
            <div ng-message="required">Requiere confirmar la contraseña</div>
            <div ng-message="passwordMatch">La contraseña no es la misma</div>
          </div>
        </md-input-container>
      </div>
      <!-- Registro de tiendas: boton que registra nueva tienda -->
      <md-button type="submit" id="regTienda" class="md-raised md-warn">Registrar</md-button>
    </form>
  </div>
</div>
