/***************** Hoja de estilos *****************/
/******************** Colores ******************/
@boxSign: #263238;
@resaltoText: #80CBC4;
@subhead: #26A69A;

/******************** Estilos ******************/
/* caja de registro */
.box {
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  background: @boxSign;
  overflow: hidden;
}

/* Home content */
.homeContent {
  overflow: hidden;
}

/* Top toolbar */
.topToolbar {
  max-height: 25px;
  min-height: 25px;
}

/* Sub head */
.subhead { background: @subhead; }

/* Iconos de tamaño 16px */
.material-icons.md-16 { font-size: 16px; }

/* Margenes de alineamiento incono-texto */
.iconAlign { margin: 2px -5px -6px; }

/* Resalte texto */
.resalto { color: @resaltoText; }

/* Dimensiones icono de empresa */
.icon {
  max-height: 40px;
  max-width: 40px;
}

.topForm {
  max-height: 50px;
}

.md-toolbar-tools .md-button {
    margin-top: -23px;
    margin-bottom: 0px;
}

.accessInfo {
  min-height: 10px;
}

.formTarjeta {
  padding: 10px;
}

#phWhite::-webkit-input-placeholder {
  color: #FFFFFF;
}

#phWhite:-moz-placeholder {
  color: #FFFFFF;
}

#phWhite::-moz-placeholder {
  color: #FFFFFF;
}

#phWhite:-ms-input-placeholder {
  color: #FFFFFF;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.title { font-size: 22px; }

.subtitle { font-size: 15px; }

.registroTitle { color: #FFFFFF; }

#phGrey::-webkit-input-placeholder {
  color: #757575;
}

#phGrey:-moz-placeholder {
  color: #757575;
}

#phGrey::-moz-placeholder {
  color: #757575;
}

#phGrey:-ms-input-placeholder {
  color: #757575;
}

#phGreyF::-webkit-input-placeholder {
  color: #BDBDBD;
}

#phGreyF:-moz-placeholder {
  color: #BDBDBD;
}

#phGreyF::-moz-placeholder {
  color: #BDBDBD;
}

#phGreyF:-ms-input-placeholder {
  color: #BDBDBD;
}