/***************** Hoja de estilos *****************/
/******************** Colores ******************/
@boxSign: #80CBC4;

/******************** Estilos ******************/
/* caja de registro */
.box {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  background: @boxSign;
  overflow: hidden;
}